.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin-bottom: 40px;
}

@media screen AND (max-width: 544px) {
    .header {
        margin-bottom: 20px;
        padding-bottom: 33px;
        margin-right: 30px;
    }
}