.profile__profile-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 16px 18px;
    justify-self: start;
    align-self: center;
}

@media screen AND (max-width: 775px) {
    .profile__profile-info {
        grid-template-columns: 24px repeat(2, auto);
        margin: 26px auto 36px;
        align-self: center;
        text-align: center;
        gap: 14px 10px;
    }    
}

@media screen AND (max-width: 469px) {
    .profile__profile-info {
        grid-template-columns: 18px repeat(2, auto);
    }    
}