.element__like {
    width: 22px;
    height: 19px;
    border: none;
    background-color: #FFF;
    background-image: url('../../../images/like_diabled.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
}

.element__like:hover {
    cursor: pointer;
    opacity: .5;
}
