.page {
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #FFF;

    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 880px;
    min-width: 320px;
    margin: 0 auto;
}